.shuffleButton {
    width: 310px;
    height: 90px;
    background: #f5be49;
    border-radius: 15px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    border: none;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
