.containerWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.category {
    width: fit-content;
    padding: 0px 20px;
    height: 40px;
    background: white;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    border: 2px solid black;
    font-weight: bold;
}

.filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 100px;
}